{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h1 class = "PageTitle"><strong>Картинки :</strong></h1>
    <div class="menu">
        <a class="Button">Меню:</a>
        <div class="SubMenu">
            <ul>
                <li><a href="#1">Картинка 1</a></li>
                <li><a href="#2">Картинка 2</a></li>
                <li><a href="#3">Картинка 3</a></li>
                <li><a href="#4">Картинка 4</a></li>
            </ul>
        </div>
    </div>
    <div>

        <ol>
            <li id = "1"><img src="../static/images/dHg7PeBPZK4.jpg" /></li>
            <li id = "2"><img src="../static/images/exception_catch.png" /></li>
            <li id = "3"><img src="../static/images/Не освобождал память.jpg" /></li>
            <li id = "4"><img src="../static/images/пересел на плюсы_обрез.jpg" /></li>
        </ol>
    </div>
</body>
</html>