<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a {
          color: red;
          font-size: 20px;
        }
    </style>
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" type="text/css" rel="stylesheet">
</head>
<body>
    <h1 class="PageTitle" style="color: blue;"><em><strong>Добро пожаловать на главную страницу!</strong></em></h1>
    <p>С этого "сайта" можно посмотреть смешные картинки и видео <br> Воспользуйтесь ссылками для перехода туда куда хотите:</p>

<form class="LoginForm" method="post">
               <ul>
                   <li>
                       <p>Введите логин: </p>
                       <input type="text" required class="Login">
                   </li>
                   <li>
                       <p>Введите пароль: </p>
                       <input type="password"  required class="Password">
                   </li>
                       <p>В случае регистрации: </p>
                   <li>
                       <p>Введите имя: </p>
                       <input type="text" id="nameid" class="Name">
                   </li>
                   <li>
                       <p>Введите фамилию: </p>
                       <input type="text" id="surnameid" class="Surname">
                   </li>
                   <li>
                       <p>Введите возраст: </p>
                       <input type="number" id="ageid" class="Age">
                   </li>
                   <li>
                       <p>Введите email: </p>
                       <input type="email" id="emailid" class="Email">
                   </li>
               </ul>
            <p><input type="submit"></p>
        </form>
    <script src="./LoginFormHandler.js"></script>
    <div>
        <ul>
            <li><a href="./images_page.html">Картинки</a></li>
            <li><a href="./video_page.html">Видео</a></li>
        </ul>
    </div>
    <div>
        <pre style="font-family:'Pacifico', cursive;">
            <span style="color: red" >Из груши выползал червячок</span>
            А из подушки — сновиденье
            На кухне хохотал дурачок
            Смешав колбаску со слюною
            Запуталась культя в рукаве
            Весна забылась в рукопашной
            На цыпочках подкравшись к себе
            Я позвонил и убежал.
        </pre>
        <pre style="font-family: 'Russo One', sans-serif;">
            Из груши выползал червячок
            А из кармана — безобразие
            На лавочке молчал старичок
            Собой являя запредельность
            Местами возникали толчки
            А в целом было превосходно
            По-прежнему ползли червячки
            Лишь холмик на кладбище просел.
        </pre>
    </div>
</body>
</html>
